.container {
  padding: 20px 85px;
  background-color: #ffffff;
  font-family: "SourceSansPro", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #464A5A;
}

.link {
  color: #868996;
  text-decoration: none;
  font-weight: 400;
}

.slash {
  color: #009ecc;
  font-weight: 400;
}
