<div class="container">
  <app-add-search
    (onSearch)="filterCourse($event)"
  ></app-add-search>
  <div *ngIf="filteredList.length !== 0; else elseBlock">
    <div *ngFor="let course of filteredList | orderBy : 'creationDate' : 'asc'; trackBy: trackByIndex">
      <app-course-item
        class="course"
        [newCourse]="course.creationDate"
        [ngClass]="{'top-rated': course.topRated}"
        [course]="course"
        (delete)="openConfirmDialog($event)">
      </app-course-item>
    </div>
    <button class="btn-more" (click)="loadCourses()">Load more</button>
  </div>
  <ng-template #elseBlock>
    <p class="message">No data. Feel free to add new course</p>
  </ng-template>
</div>

<div class="popup-wrapper" *ngIf="confirmDialogConfig.isVisible">
  <div class="popup">
    <div class="popup-header">
      <h3 class="popup-title">Delete course?</h3>
      <span class="material-icons close-icon" (click)="confirmDelete(false)">close</span>
    </div>
    <hr>
    <div class="popup-body">
      <p class="popup-text">Are you sure you want to delete <br> {{confirmDialogConfig.title}}?</p>
    </div>
    <hr>
    <div class="popup-footer">
      <button class="btn btn-cancel" (click)="confirmDelete(false)">Cancel</button>
      <button class="btn btn-delete" (click)="confirmDelete(true)">Yes, delete</button>
    </div>
  </div>
</div>
