<div class="container">
  <div class="course">
    <h3 class="course-header">New course</h3>
    <div class="course-field">
      <label class="course-label" for="#title">Title:</label>
      <input
        #titleField
        type="text"
        class="course-input"
        name="title"
        placeholder="Text input"
        [value]="course?.title || ''">
    </div>
    <div class="course-field">
      <label class="course-label" for="#description">Description:</label>
      <textarea
        #descriptionField
        class="course-description"
        name="description"
        placeholder="Add description"
        [value]="course?.description || ''">
      </textarea>
    </div>
    <app-course-date
      [creationDate]="course?.creationDate || ''">
    </app-course-date>
    <app-course-duration
      [duration]="course?.duration || 0">
    </app-course-duration>
    <app-course-authors></app-course-authors>
    <div class="buttons">
      <button class="btn btn-cancel" (click)="cancel()">Cancel</button>
      <button class="btn btn-save" (click)="saveCourse()">Save</button>
    </div>
  </div>
</div>
