.container {
  padding: 24px 24px 32px;
  max-width: 730px;
  margin: 24px auto;
  background-color: #ffffff;
  border-radius: 6px;
	box-shadow: 0 1px 2px 0 #1d1e261a, 0 2px 10px 0 #1d1e2626;
}

.course-header {
  color: #333333;
	font-size: 24px;
	font-family: "SourceSansPro", sans-serif;
	font-weight: 600;
  margin-bottom: 24px;
}
